.jumbotron-contact {
	position: relative;
	height: 100vh;
	background-color: rgb(219, 216, 202);
	margin-bottom: 0px;
	/*padding-top: 0px;*/
	padding: 0;
}

.jumbotron-contact h1 {
	font-family: 'Saira Stencil One', cursive;
	writing-mode: vertical-rl; 
	position: absolute;
	left: 20%;
	top: 20%;
	text-shadow: 2px 2px rgb(237, 220, 164);
}

#contact-image {
	background-image: url(../images/shuttlecock-colorful.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

#contact-form {
	
	position: absolute;
	left: 0;
	top: 10%;
}



/* Style inputs */

#contact-fname,
#contact-lname,
#contact-email,
#contact-subject {
	width: 100%;
 	padding: 12px;
  	border: 1px solid #ccc;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}
/*input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}*/

#submit {
  background-color: #9d484f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 5vh;
}

#submit:hover {
  background-color: #2c5b51;
}

/* Style the container/contact section */
/*.container-contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.container-contact h2 {
	font-family: 'Saira Stencil One', cursive;
}

.container-contact p {
	font-size: large;
}*/

/* Create two columns that float next to eachother */
/*.column-contact {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}*/

/* Clear floats after the columns */
/*.row-contact:after {
  content: "";
  display: table;
  clear: both;
}

#map-div {
	background-image: url(../images/bd7.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

#gmap {
	height: 200px;
	width: 200px;
	position: absolute;
	right: 5%;
}*/


/*media queries*/

/*Mobile Style*/
/*only screen (media type) --- (max-width)(media feature)*/
/*only screen only for specific size (max-width)*/

@media only screen and (max-width: 400px) {
	#contact-form {
		margin-left: 0;
	}

	.jumbotron-contact h1 {
		font-family: 'Saira Stencil One', cursive;
		writing-mode: horizontal-tb; 
		position: absolute;
		left: 50%;
		top: 93vh;
		font-size: 30px;
		/*text-shadow: 2px 2px rgb(237, 220, 164);*/
	}
}



